# Сборки CMake
build/
out/
bin/
*.exe

# Файлы CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Служебные файлы IDE
.vscode/
*.swp
*.swo

# Бинарные файлы
*.o
*.obj
*.dll
*.lib
*.a

# Логи и временные файлы
*.log
*.tmp